# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.pdb

# NuGet
packages/
*.nupkg

# Test results
[Tt]est[Rr]esult*/
TestResults/
